<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>aoeai</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1>Android代码生成器</h1>
        <p>QQ群：550618228</p>
    </div>
    <div class="row">
        <form th:action="@{/createAndroidCode}" method="post">

            <textarea name="xmlCode" class="form-control" rows="5" onfocus="this.value=''; this.onfocus=null;">粘贴Android的xml文件内容在这里，可以生成有android:id属性的Java对象</textarea>

            <br/>

            <button type="submit" th:text="提交" class="btn btn-info" />

        </form>

        <div class="col-sm-4" style="width:100%;">
            <h3>类变量</h3>
            <p th:each="field : ${fieldList}" th:text=" 'private ' + ${field.type} + ' ' + ${field.original} + ';'" />

            <h3>类变量实例化</h3>
            <p th:each="field : ${fieldList}" th:text=" ${field.original} + ' = (' + ${field.type} + ')findViewById(R.id.' + ${field.original} + ');'" />
        </div>
    </div>
</div>


</body>
</html>
